In [2]:
import numpy as np
import pandas as pd
import time

start = time.time()
PATH = "./brazil"

In [ ]:
!wget https://github.com/wcota/covid19br/blob/master/cases-brazil-cities-time.csv.gz

In [ ]:
dataframe  = pd.read_csv("./cases-brazil-cities-time.csv.gz")
# dataframe

In [ ]:
dataframe["daily_cases_moving_average"] = dataframe['newCases'].rolling(window=14).mean()
dataframe["daily_deaths_moving_average"] = dataframe['newDeaths'].rolling(window=14).mean()

In [ ]:
def extractDataframeByCity(dataframe):
    all_names = dataframe.city.unique().tolist()
    lenth = len(dataframe.state.unique().tolist())
    number_of_names = len(all_names)
    counter = 0

    for name in all_names:
        newDataframe = dataframe.loc[dataframe.state == name]
        newDataframe.reset_index(inplace=True)
        
        
        counter +=1 
        
        new_name = "Brasil"
        try:
            buffer_name = name.split("/")
            new_name = buffer_name[0]
        except:
            pass
        
        if(counter % 530 == 0):
            print("Processin: {:.2f%}...".format(counter / 5300))
        
        
        newDataframe.to_json(f"{PATH}/{new_name}.json")
extractDataframeByCity(dataframe)

# Vaccines

In [3]:
url = "https://raw.githubusercontent.com/wcota/covid19br/master/cases-brazil-states.csv"
dataframe = pd.read_csv(url,index_col=0,parse_dates=[0])
# dataframe

,date,country,state,city,newDeaths,deaths,newCases,totalCases,deathsMS,totalCasesMS,...,totalCases_per_100k_inhabitants,deaths_by_totalCases,recovered,suspects,tests,tests_per_100k_inhabitants,vaccinated,vaccinated_per_100k_inhabitants,vaccinated_second,vaccinated_second_per_100k_inhabitants
epi_week,,,,,,,,,,,,,,,,,,,,,
9,2020-02-25,Brazil,SP,TOTAL,0,0,1,1,0,0,...,0.00218,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2020-02-25,Brazil,TOTAL,TOTAL,0,0,1,1,0,0,...,0.00047,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2020-02-26,Brazil,SP,TOTAL,0,0,0,1,0,1,...,0.00218,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2020-02-26,Brazil,TOTAL,TOTAL,0,0,0,1,0,1,...,0.00047,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2020-02-27,Brazil,SP,TOTAL,0,0,0,1,0,1,...,0.00218,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,2021-06-24,Brazil,SC,TOTAL,0,16496,0,1035042,16496,1035042,...,14446.23344,0.01594,994723.0,167186.0,2320266.0,32384.29385,2439094.0,34042.79373,785087.0,10957.57474
125,2021-06-24,Brazil,SE,TOTAL,0,5604,0,259664,5604,259664,...,11296.14355,0.02158,238862.0,5836.0,520020.0,22622.39113,736365.0,32034.03147,220590.0,9596.31026
125,2021-06-24,Brazil,SP,TOTAL,0,123825,0,3630251,123825,3630251,...,7905.76260,0.03411,3215161.0,1141713.0,14183490.0,30888.03080,17042691.0,37114.64277,6049768.0,13174.85473
125,2021-06-24,Brazil,TO,TOTAL,0,3134,0,194366,3134,194366,...,12357.44177,0.01612,175055.0,894.0,576796.0,36671.65544,389974.0,24793.84766,141155.0,8974.38180
125,2021-06-24,Brazil,TOTAL,TOTAL,46,507448,1690,18178025,507109,18169881,...,8584.43276,0.02792,16011365.0,6929736.0,53015146.0,25035.99573,68360491.0,32282.71710,24954191.0,11784.42514

In [5]:
# dataframe.state.unique().tolist()

dataframe["daily_cases_moving_average"] = dataframe['newCases'].rolling(window=14).mean()
dataframe["daily_deaths_moving_average"] = dataframe['newDeaths'].rolling(window=14).mean()

dataframe["vaccinated_moving_average"] = dataframe['vaccinated'].rolling(window=14).mean()
dataframe["vaccinated_second_moving_average"] = dataframe['vaccinated_second'].rolling(window=14).mean()

dataframe.state = dataframe.state.replace(['AC', 'AL', "AP", "AM", "BA", "CE", "DF", "ES", "GO", "MA", "MT", "MS", "MG", "PA", "PB", "PR", "PE", "PI", "RJ", "RN", "RS", "RO", "RR", "SC", "SP", "SE", "TO", "TOTAL"], ["Acre", "Alagoas", "Amapá", "Amazonas", "Bahia", "Ceará", "Distrito Federal",  "Espírito Santo", "Goiás", "Maranhão",  "Mato Grosso", "Mato Grosso do Sul", "Minas Gerais", "Pará", "Paraíba", "Paraná", "Pernambuco", "Piauí", "Rio de Janeiro", "Rio Grande do Norte", "Rio Grande do Sul", "Rondônia", "Roraima", "Santa Catarina", "São Paulo", "Sergipe", "Tocantins", "Brasil"])
# dataframe.columns

Index(['date', 'country', 'state', 'city', 'newDeaths', 'deaths', 'newCases',
       'totalCases', 'deathsMS', 'totalCasesMS', 'deaths_per_100k_inhabitants',
       'totalCases_per_100k_inhabitants', 'deaths_by_totalCases', 'recovered',
       'suspects', 'tests', 'tests_per_100k_inhabitants', 'vaccinated',
       'vaccinated_per_100k_inhabitants', 'vaccinated_second',
       'vaccinated_second_per_100k_inhabitants', 'daily_cases_moving_average',
       'daily_deaths_moving_average', 'vaccinated_moving_average',
       'vaccinated_second_moving_average'],
      dtype='object')

In [6]:
def extractDataframeByState(dataframe):
    all_names = dataframe.state.unique().tolist()
    lenth = len(dataframe.state.unique().tolist())
    number_of_names = len(all_names)
    counter = 0

    for name in all_names:
        newDataframe = dataframe.loc[dataframe.state == name]
        newDataframe.drop(newDataframe.index[0])
        newDataframe.reset_index(inplace=True)

        newDataframe.to_json(f"{PATH}/{name}.json")
extractDataframeByState(dataframe)

In [ ]:
!rm .csv.gz

os.system("./upload2TheCloud.sh")

print("It took {:.2f} minutes".format((time.time() - start)/60))