In [2]:
from multiprocessing import  Pool

import requests
import numpy as np
import pandas as pd
import time
import os

start = time.time()
PATH = "./brazil"

In [2]:
os.system("rm *.csv.gz")

print("Dowloading the data...")
# !wget ""
url = 'https://github.com/wcota/covid19br/raw/master/cases-brazil-cities-time.csv.gz'
r = requests.get(url, allow_redirects=True)
open("cases-brazil-cities-time.csv.gz", 'wb').write(r.content)

Dowloading the data...

84773618

In [3]:
start = time.time()

dataframe  = pd.read_csv("cases-brazil-cities-time.csv.gz")
print("Data downloaded!")

Data downloaded!

In [4]:
print("Extracting city dataframes...")

Extracting city dataframes...

In [7]:
def extractDataframeByCity(dataframe):
    print("Processing... 0%")
    all_names = dataframe.city.unique().tolist()
   
    number_of_names = int(len(all_names) /100)
    
    counter = 0

    for name in all_names:
        newDataframe = dataframe.loc[dataframe.city == name]
        newDataframe.reset_index(inplace=True)
        
        newDataframe["daily_cases_moving_average"] = newDataframe.newCases.rolling(window = 14).mean()
        newDataframe["daily_deaths_moving_average"] = newDataframe.newDeaths.rolling(window = 14).mean()

        counter +=1 
        
        new_name = "Brasil"
        try:
            buffer_name = name.split("/")
            new_name = buffer_name[0]
        except:
            pass

        if (counter % number_of_names == 0):
            print("Processing... {:.0f}% ".format((counter*100)/number_of_names))
        
        newDataframe.to_json(f"{PATH}/{new_name}.json")

In [8]:
extractDataframeByCity(dataframe)
print("Cities Processed!")

Processing... 0%

<ipython-input-7-de7211ded077>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newDataframe["daily_cases_moving_average"] = newDataframe.newCases.rolling(window = 14).mean()
<ipython-input-7-de7211ded077>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newDataframe["daily_deaths_moving_average"] = newDataframe.newDeaths.rolling(window = 14).mean()

Processing... 100%
Processing... 200%
Processing... 300%
Processing... 400%
Processing... 500%
Processing... 600%
Processing... 700%
Processing... 800%
Processing... 900%
Processing... 1000%
Cities Processed!

# Vaccines

In [29]:
print("Downloading vaccines dataset...")
url = "https://raw.githubusercontent.com/wcota/covid19br/master/cases-brazil-states.csv"
dataframe = pd.read_csv(url,index_col=0,parse_dates=[0])
# dataframe

print("Vaccine Dataset downloaded!")

Downloading vaccines dataset...
Vaccine Dataset downloaded!

In [30]:


dataframe.state = dataframe.state.replace(['AC', 'AL', "AP", "AM", "BA", "CE", "DF", "ES", "GO", "MA", "MT", "MS", "MG", "PA", "PB", "PR", "PE", "PI", "RJ", "RN", "RS", "RO", "RR", "SC", "SP", "SE", "TO", "TOTAL"], ["Acre", "Alagoas", "Amapá", "Amazonas", "Bahia", "Ceará", "Distrito Federal",  "Espírito Santo", "Goiás", "Maranhão",  "Mato Grosso", "Mato Grosso do Sul", "Minas Gerais", "Pará", "Paraíba", "Paraná", "Pernambuco", "Piauí", "Rio de Janeiro", "Rio Grande do Norte", "Rio Grande do Sul", "Rondônia", "Roraima", "Santa Catarina", "São Paulo", "Sergipe", "Tocantins", "Brasil"])
# dataframe.columns
dataframe

,date,country,state,city,newDeaths,deaths,newCases,totalCases,deathsMS,totalCasesMS,...,totalCases_per_100k_inhabitants,deaths_by_totalCases,recovered,suspects,tests,tests_per_100k_inhabitants,vaccinated,vaccinated_per_100k_inhabitants,vaccinated_second,vaccinated_second_per_100k_inhabitants
epi_week,,,,,,,,,,,,,,,,,,,,,
9,2020-02-25,Brazil,São Paulo,TOTAL,0,0,1,1,0,0,...,0.00218,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2020-02-25,Brazil,Brasil,TOTAL,0,0,1,1,0,0,...,0.00047,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2020-02-26,Brazil,São Paulo,TOTAL,0,0,0,1,0,1,...,0.00218,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2020-02-26,Brazil,Brasil,TOTAL,0,0,0,1,0,1,...,0.00047,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2020-02-27,Brazil,São Paulo,TOTAL,0,0,0,1,0,1,...,0.00218,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,2021-06-25,Brazil,Santa Catarina,TOTAL,73,16628,3259,1041664,16628,1041664,...,14538.65767,0.01596,994723.0,167186.0,2320266.0,32384.29385,2472025.0,34502.41654,790001.0,11026.16016
125,2021-06-25,Brazil,Sergipe,TOTAL,17,5634,1071,261364,5634,261364,...,11370.09853,0.02156,238862.0,5836.0,520020.0,22622.39113,736365.0,32034.03147,220590.0,9596.31026
125,2021-06-25,Brazil,São Paulo,TOTAL,772,125378,20994,3669196,125378,3669196,...,7990.57489,0.03417,3215161.0,1141713.0,14183490.0,30888.03080,17626340.0,38385.68172,6062462.0,13202.49903
125,2021-06-25,Brazil,Tocantins,TOTAL,0,3159,0,195679,3159,195679,...,12440.91995,0.01614,175769.0,894.0,580608.0,36914.01556,389974.0,24793.84766,141155.0,8974.38180
125,2021-06-25,Brazil,Brasil,TOTAL,1935,511461,71704,18329136,511142,18322760,...,8655.79377,0.02790,16097711.0,6929736.0,53196856.0,25121.80688,70348056.0,33221.32942,25392565.0,11991.44389

In [36]:
def extractDataframeByState(dataframe):
    all_names = dataframe.state.unique().tolist()
    lenth = len(dataframe.state.unique().tolist())
    number_of_names = len(all_names)
    counter = 0

    for name in all_names:
        
        newDataframe = dataframe.loc[dataframe.state == name]
        newDataframe.drop(newDataframe.index[0])
        newDataframe.reset_index(inplace=True)
        
        dataframe["daily_cases_moving_average"] = dataframe["newCases"].rolling(window=14).mean()
        dataframe["daily_deaths_moving_average"] = dataframe["newDeaths"].rolling(window=14).mean()

        dataframe["vaccinated_moving_average"] = dataframe["vaccinated"].rolling(window=14).mean()
        dataframe["vaccinated_second_moving_average"] = dataframe["vaccinated_second"].rolling(window=14).mean()

        newDataframe.to_json(f"{PATH}/{name}.json")
extractDataframeByState(dataframe)

In [49]:
brasil =  dataframe.loc[dataframe["state"] == "Brasil"]
brasil["daily_cases_moving_average"] = brasil["newCases"].rolling(window=14).mean()
brasil["daily_deaths_moving_average"] = brasil["newDeaths"].rolling(window=14).mean()

brasil['daily_vaccine'] = brasil['vaccinated'].diff()
brasil['daily_second_vaccine'] = brasil['vaccinated_second'].diff()

brasil["total_vaccinated_moving_average"] = brasil["daily_vaccine"].rolling(window=14).mean() 
brasil["vaccinated_second_moving_average"] = brasil["daily_second_vaccine"].rolling(window=14).mean()
        
brasil.reset_index(inplace=True)
# brasil.to_json(f"{PATH}/Brasil.json")

<ipython-input-49-ae48b3f32339>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  brasil["daily_cases_moving_average"] = brasil["newCases"].rolling(window=14).mean()
<ipython-input-49-ae48b3f32339>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  brasil["daily_deaths_moving_average"] = brasil["newDeaths"].rolling(window=14).mean()
<ipython-input-49-ae48b3f32339>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  brasil['daily_vaccine'] = brasil['vaccinated'].diff()
<ipython-input-49-ae48b3f32339>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  brasil['daily_second_vaccine'] = brasil['vaccinated_second'].diff()
<ipython-input-49-ae48b3f32339>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  brasil["total_vaccinated_moving_average"] = brasil["daily_vaccine"].rolling(window=14).mean()
<ipython-input-49-ae48b3f32339>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  brasil["vaccinated_second_moving_average"] = brasil["daily_second_vaccine"].rolling(window=14).mean()

In [50]:
brasil

,epi_week,date,country,state,city,newDeaths,deaths,newCases,totalCases,deathsMS,...,vaccinated_per_100k_inhabitants,vaccinated_second,vaccinated_second_per_100k_inhabitants,daily_cases_moving_average,daily_deaths_moving_average,vaccinated_moving_average,vaccinated_second_moving_average,daily_vaccine,daily_second_vaccine,total_vaccinated_moving_average
0,9,2020-02-25,Brazil,Brasil,TOTAL,0,0,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9,2020-02-26,Brazil,Brasil,TOTAL,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9,2020-02-27,Brazil,Brasil,TOTAL,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9,2020-02-28,Brazil,Brasil,TOTAL,0,0,1,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9,2020-02-29,Brazil,Brasil,TOTAL,0,0,0,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
482,125,2021-06-21,Brazil,Brasil,TOTAL,981,503120,45410,17979164,502586,...,30894.95464,24591511.0,11613.15229,70365.785714,2016.428571,7.461458e+06,97038.285714,1322486.0,120627.0,1.074337e+06
483,125,2021-06-22,Brazil,Brasil,TOTAL,2103,505223,124248,18103412,504717,...,31493.19028,24731667.0,11679.33989,75261.142857,1977.500000,7.601676e+06,93864.857143,1266798.0,140156.0,1.084719e+06
484,125,2021-06-23,Brazil,Brasil,TOTAL,2265,507488,77396,18180808,507109,...,32060.95966,24891336.0,11754.74235,74727.500000,1968.428571,7.742626e+06,95837.857143,1202284.0,159669.0,1.094528e+06
485,125,2021-06-24,Brazil,Brasil,TOTAL,2038,509526,76624,18257432,509141,...,32638.32974,25208658.0,11904.59523,73683.214286,1935.071429,7.881548e+06,110227.214286,1222614.0,317322.0,1.109707e+06
486,125,2021-06-25,Brazil,Brasil,TOTAL,1935,511461,71704,18329136,511142,...,33221.32942,25392565.0,11991.44389,72639.785714,1917.785714,8.023547e+06,114742.000000,1234535.0,183907.0,1.118737e+06

In [43]:
os.system("rm *.csv.gz")

os.system("./upload2TheCloud.sh")

print("It took {:.2f} minutes".format((time.time() - start)/60))

It took 23.72 minutes