In [1]:
from multiprocessing import  Pool

import numpy as np
import pandas as pd
import time
import os

start = time.time()
PATH = "./brazil"

In [ ]:
!rm *.csv.gz
!wget https://github.com/wcota/covid19br/blob/master/cases-brazil-cities-time.csv.gz

In [2]:
dataframe  = pd.read_csv("./cases-brazil-cities-time.csv.gz")
dataframe

,epi_week,date,country,state,city,ibgeID,cod_RegiaoDeSaude,name_RegiaoDeSaude,newDeaths,deaths,newCases,totalCases,deaths_per_100k_inhabitants,totalCases_per_100k_inhabitants,deaths_by_totalCases,_source,last_info_date
0,9,2020-02-25,Brazil,SP,São Paulo/SP,3550308,35016.0,São Paulo,0,0,1,1,0.00000,0.00811,0.00000,SES,2021-06-23
1,9,2020-02-25,Brazil,TOTAL,TOTAL,0,NaN,NaN,0,0,1,1,0.00000,0.00047,0.00000,NaN,NaN
2,9,2020-02-26,Brazil,SP,São Paulo/SP,3550308,35016.0,São Paulo,0,0,0,1,0.00000,0.00811,0.00000,SES,2021-06-23
3,9,2020-02-26,Brazil,TOTAL,TOTAL,0,NaN,NaN,0,0,0,1,0.00000,0.00047,0.00000,NaN,NaN
4,9,2020-02-27,Brazil,SP,São Paulo/SP,3550308,35016.0,São Paulo,0,0,0,1,0.00000,0.00811,0.00000,SES,2021-06-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2299340,125,2021-06-25,Brazil,PR,Ângulo/PR,4101150,41015.0,15ª RS Maringá,0,6,0,333,204.77816,11365.18771,0.01802,SES,2021-06-24
2299341,125,2021-06-25,Brazil,BA,Érico Cardoso/BA,2900504,29003.0,Brumado,0,3,0,297,28.40909,2812.50000,0.01010,MS,2021-06-25
2299342,125,2021-06-25,Brazil,PA,Óbidos/PA,1505106,15002.0,Baixo Amazonas,0,121,0,6369,231.33101,12176.42335,0.01900,MS,2021-06-25
2299343,125,2021-06-25,Brazil,SP,Óleo/SP,3533809,35094.0,Ourinhos,0,1,0,98,40.46945,3966.00567,0.01020,MS,2021-06-25
2299344,125,2021-06-25,Brazil,TOTAL,TOTAL,0,NaN,NaN,52,509499,3712,18254097,240.60699,8620.35718,0.02791,NaN,NaN

In [3]:
dataframe["daily_cases_moving_average"] = dataframe['newCases'].rolling(window = 14).mean()
dataframe["daily_deaths_moving_average"] = dataframe['newDeaths'].rolling(window = 14).mean()

In [8]:
def extractDataframeByCity(dataframe):
    print("Processing... 0%")
    all_names = dataframe.city.unique().tolist()
    length = int(len(dataframe.city.unique().tolist())/10)
    number_of_names = len(all_names)
    counter = 0

    for name in all_names:
        newDataframe = dataframe.loc[dataframe.city == name]
        newDataframe.reset_index(inplace=True)
        
        
        counter +=1 
        
        new_name = "Brasil"
        try:
            buffer_name = name.split("/")
            new_name = buffer_name[0]
        except:
            pass

        if (counter % length == 0):
            print("Processing... {:.0f}% ".format((counter*100)/number_of_names))
        
        newDataframe.to_json(f"{PATH}/{new_name}.json")

In [ ]:
extractDataframeByCity(dataframe)

Processing... 0%

# Vaccines

In [8]:
url = "https://raw.githubusercontent.com/wcota/covid19br/master/cases-brazil-states.csv"
dataframe = pd.read_csv(url,index_col=0,parse_dates=[0])
# dataframe

In [9]:
# dataframe.state.unique().tolist()

dataframe["daily_cases_moving_average"] = dataframe['newCases'].rolling(window=14).mean()
dataframe["daily_deaths_moving_average"] = dataframe['newDeaths'].rolling(window=14).mean()

dataframe["vaccinated_moving_average"] = dataframe['vaccinated'].rolling(window=14).mean()
dataframe["vaccinated_second_moving_average"] = dataframe['vaccinated_second'].rolling(window=14).mean()

dataframe.state = dataframe.state.replace(['AC', 'AL', "AP", "AM", "BA", "CE", "DF", "ES", "GO", "MA", "MT", "MS", "MG", "PA", "PB", "PR", "PE", "PI", "RJ", "RN", "RS", "RO", "RR", "SC", "SP", "SE", "TO", "TOTAL"], ["Acre", "Alagoas", "Amapá", "Amazonas", "Bahia", "Ceará", "Distrito Federal",  "Espírito Santo", "Goiás", "Maranhão",  "Mato Grosso", "Mato Grosso do Sul", "Minas Gerais", "Pará", "Paraíba", "Paraná", "Pernambuco", "Piauí", "Rio de Janeiro", "Rio Grande do Norte", "Rio Grande do Sul", "Rondônia", "Roraima", "Santa Catarina", "São Paulo", "Sergipe", "Tocantins", "Brasil"])
# dataframe.columns

In [10]:
def extractDataframeByState(dataframe):
    all_names = dataframe.state.unique().tolist()
    lenth = len(dataframe.state.unique().tolist())
    number_of_names = len(all_names)
    counter = 0

    for name in all_names:
        newDataframe = dataframe.loc[dataframe.state == name]
        newDataframe.drop(newDataframe.index[0])
        newDataframe.reset_index(inplace=True)

        newDataframe.to_json(f"{PATH}/{name}.json")
extractDataframeByState(dataframe)

In [11]:
!rm *.csv.gz

os.system("./upload2TheCloud.sh")

print("It took {:.2f} minutes".format((time.time() - start)/60))

It took 17.98 minutes